* { margin: 0; padding:0; border:0;}
body {
    background: url(fundo.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}
.menubar {float:right;}

p{
    color: white;
    font-size: 20px;
    margin-top: 2%;
}

.contatos { width:100%; height:auto; overflow:hidden; margin:auto; }
.cont { width:30%; height:30px; float:left; margin-left:35px;}
.cont p { color:#B0E2FF; font-weight:500; margin:7px; font-size:12px;}
.cont img { width:8%; float:left;  padding:5px; }
@media only screen and (max-width:600px) { 
	.contatos { width:100%; height:auto; margin:auto; float:left; }
	.cont { width:100%; height:40px;}
	.cont p { text-align:center; float:left;  }
	.cont img { width:5%; height:45%; margin-left:30%; }
}
.imgspace{
    width:100%;
    height: 550px;
}
.imgpoker{
    width:100%;
    height: 550px;
}
.imgxadrez{
    width:100%;
    height: 550px;
}